.rojo{
    background-image: url("../assets/ChatGPTrojo.png");
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
}

.letra{
    font-family: 'Cormorant Garamond', serif;
}

.carta{
    font-family: 'Lora', serif;
    color: #9e7e5b;

}

.azul{
    background-image: url("../assets/ChatGPTazul.png");
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;

}

.rojo:hover{
    box-shadow: 0px 2px 10px 10px rgba(0, 0, 0, 0.5);
    scale: 1.05;
    cursor: pointer;
}

.azul:hover{
    box-shadow: 0px 2px 10px 10px rgba(0, 0, 0, 0.5);
    scale: 1.05;
    cursor: pointer;
}