@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Cinzel:wght@400;700&family=Lora:wght@400;700&display=swap');




.header {
  background-image: url("../assets/image.png");
  background-position: center;
  font-family: 'Cormorant Garamond', serif;
  box-shadow: 0px 2px 10px 20px rgba(0, 0, 0, 0.5);
;
}
